
    <section>
      <div id="detail-view">
        <img src="<%= book.image_url %>" alt="" class="detail-image">
        <h3 class="detail-title">
          <%= book.title %>
        </h3>
        <p class="detail-author"><em>
            <%= book.author %>
          </em></p>
        <p class="detail-description">
          <%= book.description %>
        </p>
        <p class="detail-isbn">
          <%= book.isbn %>
        </p>
        <p class="detail-categories">
          Bookshelf: <%= book.categories %>
        </p>
        <a class="details-btn" href="/books/<%= book.id %>">View Details</a>

      </div>
    </section>
   