<form class="update-book" action="/books/<%=book.id%>?_method=PUT" method="POST" id="update-form">
  <input type="text" class="" value="<%= book.title %>" name="title">
  <input type="text" class="" value="<%= book.author %>" name="author">
  <input type="text" class="" value="<%= book.description %>" name="description">
  <input type="text" class="" value="<%= book.image_url %>" name="image_url">
  <input type="text" class="" value="<%= book.isbn %>" name="isbn">
  <input type="text" class="" value="<%= book.categories %>" name="categories">
  <input class="select-btn" type="submit" value="Update Book">
</form>