<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/modules/show-details.css">
    <script src="https://kit.fontawesome.com/4fc1b5d5ea.js" crossorigin="anonymous"></script>
    <title>Book Info</title>
  </head>

  <body>
    <%- include('../../layout/header')%>
      <section id="detail-view">
        <div id="book-display">
          <%- include('detail', {book: book}) %>
            <div id="btn-box">
              <button id="show-form">Update Details</button>
              <form action="/books/<%= book.id %>?_method=DELETE" method="POST">
                <button id="delete-book" type="submit">Delete Book</button>
              </form>
            </div>
        </div>
        <form class="update-book" action="/books/<%=book.id%>?_method=PUT" method="POST" id="update-form">
        <%- include('edit', {book: book}) %>
      </form>
      </section>
      <%- include('../../layout/footer')%>
        <script src="/app.js"></script>
  </body>

</html>