<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/modules.css">
    <title>Search Results</title>
  </head>

  <body>
    <header>
      <nav>
        X
      </nav>
      <h1>Best Books!</h1>
    </header>
    <main>
      <h2>Search Results</h2>
      <section>
        <% booklist.forEach((book)=> { %>
          <div>
            <img src="<%= book.image_url %>" alt="" class="book-image">
            <h3 class="book-title">
              <%= book.title %>
            </h3>
            <p class="book-author"><em>
                <%= book.author %>
              </em></p>
            <!-- <p class="description">
              <%= book.description %>
            </p> -->
            <form class="add-book" action="/books" method="POST">
              <fieldset class="book-add">
                <input type="text" class="form-hide" value="<%= book.title %>" name="title">
                <input type="text" class="form-hide" value="<%= book.author %>" name="author">
                <input type="text" class="form-hide" value="<%= book.description %>" name="description">
                <input type="text" class="form-hide" value="<%= book.image_url %>" name="image_url">
                <input type="text" class="form-hide" value="<%= book.isbn %>" name="isbn">
                <input type="text" class="form-hide" value="<%= book.categories %>" name="categories">
                <input class="select-btn" type="submit" value="Select this Book">
              </fieldset>
            </form>
          </div>
          <% }) %>
      </section>
    </main>
    <footer>
      <p>2020</p>
    </footer>
  </body>

</html>