<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/modules/index.css">
    <script src="https://kit.fontawesome.com/4fc1b5d5ea.js" crossorigin="anonymous"></script>

    <title>Book App</title>
  </head>

  <body>
    <%- include('../layout/header')%>

      <h2>
        <span class="library-count">
          <%= books.length %>
        </span> Saved Books
      </h2>
      <section>
        <% books.forEach((book)=> { %>
          <div>
            <%- include('books/detail', {book: book})%>
              <a class="details-btn" href="/books/<%= book.id %>">View Details</a>
          </div>
          <% }) %>
      </section>
      <%- include('../layout/footer')%>
  </body>

</html>